@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

/* Tambahkan ini di file CSS global Anda */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  display: flex; /* Flex untuk horizontal slider */
  min-width: 100%; /* Wajib agar animasi berjalan */
}

/* styles.module.css */
.plan-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.plan-card {
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.plan-free {
  background-color: #fff;
  color: #333;
}

.plan-premium {
  background-color: #1e3a8a;
  color: #fff;
}

.plan-button {
  margin-top: 1.5rem;
  width: 100%;
  border-radius: 4px;
  font-weight: bold;
}
